.cards{
    display: flex;
    background-color: whitesmoke;
    padding: 10px ;
    flex-direction: row;
    align-items: center; 
    height: 90%;
    width: 90%;

    
}

.description{
    margin-left: 10px;
}
    
.title{
    height:50px;
}
    
 

.note{
    background-color: rgb(194, 191, 191);
    text-align: center;
    width: 40px;
   

    border-radius: 15px ;
    position: sticky;
    bottom: 10px;
}

.horizontal-line {
    border: 1px solid black;
    margin-bottom: 40px; 
  
  }
  

  