

main {
  top: 50px;
  z-index: 1;
}

.image-logo {
  position : relative;
  width: 193px;
  height: 77px;
  left: 20px;
}

.header-buttons {
  position : absolute;
  top: 30px;
  right: 20px;
}

.button-login {
  margin-left: 10px;
  border : none;
  background-color: #545454;
  color :whitesmoke;
  border : none;
  font-size: 16px;
  font-weight: 900;
  padding: 10px ;
}

.button-login:hover {
  border-bottom : 4px solid #ffde59;
}

.button-signup {
  margin-left: 10px;
  background-color: #ffde59;
  color :#545454;
  border : none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 900;
  padding: 10px 20px ;
}

.button-signup:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.presentation {
  position: relative;
  font-size: 30px;
  top : 250px;
  width: 700px;
  color: whitesmoke;
}

.screen {
  position: absolute;
  top: 300px;
  left: 6%; 
}

.second-content {
  background-color: whitesmoke;
  margin-top:400px;
  height: 300px;
  padding-top: 10px;
}

.second-content h2 {
  font-size: 30px;
  width: 400px;
  margin-left: 40px;
}

.second-content p {
  margin-left: 40px;
  width: 400px;
}

.second-content div {
  margin-top: 20px;
  margin-left: 60px;
}

.second-content div span {
  left: 30px;
}