@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300;400&family=Open+Sans:ital@1&family=Roboto:wght@300;400&display=swap');

body {
  background-color: #545454;
}

main {
  top: 50px;
  z-index: 1;
}

.header-buttons {
  position : absolute;
  top: 30px;
  right: 20px;
}

.presentation {
  position: relative;
  font-size: 30px;
  top : 250px;
  left: 50%;
  width: 700px;
  color: whitesmoke;
}


.screen {
  position: absolute;
  top: 300px;
  left: 7%; 
}

.second-content {
  background-color: whitesmoke;
  margin-top:400px;
  height: auto;
  padding-top: 40px;
}

.second-content h2 {
  font-size: 3vw;
  width: 40vw;
  margin-left: 5%;
}

.second-content p {
  margin-left: 5%;
  width: 40vw;
  font-size: 2vw;
}

.second-content div {
  margin-top: 5%;
  margin-left: 9%;
  padding-bottom: 3%;
}

.responsive-img {
  max-width: 100%;
  height: auto;
}

.second-content div span {
  position: absolute;
  margin-top: 1%;
  margin-left: 10px;
  font-size: 2vw;
}
/* ----------------Footer--------------- */

.third-content {
  padding-top: 20px;
  height: 200px;
  margin-top: -16px;
  background-color: #a6a6a6;
  font-size: 20px;
}

.third-content ul {
  list-style: none; 
  display: flex; 
  justify-content: center;
}

.third-content li {
  margin: 3px 10px; 
}

.third-content li a {
  text-decoration: none; 
  color: #565656; 
  transition: color 0.3s; 
}

.third-content li a:hover {
  color: #ffde59; 
}

.third-content span {
  display: flex; 
  justify-content: center;
  color:#565656
}

.hoverable-image {
  transition: filter 0.2s; 
}

.hoverable-image:hover {
  filter: invert(0.5); 
}

/*------------------------carousel css------------------------------*/

.carousel1{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin: 50px ;
  position: static;
  font-family: 'Roboto', sans-serif;

}




/*------------------------profile css------------------------------*/

.carousel1{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 300px;
    margin-left: 130px;


}

.profile-top{
  display: flex;
  align-items: center;
  margin-left: 25%;
}

.profile-white-container{
  display: flex;
  justify-content: center;
  width:100%;
  height: 100hv;
  top:350px;
  background-color: whitesmoke;
  z-index: 2;
}

.popularReviews{
  margin-left: 50px;
  color: #DADADA;  
}

*{

  box-sizing: border-box;
  font-family: Verdana;
}

body{
  background-color: #545454 ;
}


.container{
  
  display: flex;
  width: 75%;
  height: 250px;
  font-size: larger;
  background-color: darkgrey;
  margin: 50px ;
  position: static;
  background-color: #ffde59eb;
  border-radius: 20px; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
  padding: 20px; 
}

#scribeun{

  margin-top: 55px;
  font-size: larger;


}


.intercontain{

  display: flex;
  position: static;
  margin: 40px;
  margin-left: 100px;
  color: #DADADA;

}

.profilePic{
padding: 30px;
}

/* -----------AboutUs------------- */

.about-us-section {
  width: 80%; 
  margin: 50px auto; 
  padding: 50px;
 
  border-radius: 20px; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f0f0f0;
  background-size: cover;  
  background-repeat: no-repeat;  
  background-position: center center; 
  position: relative;
}

.about-us-section::before {
  content: "";
  background-image: url('./img/mic_background.jpg');
  background-size: cover;  
  background-repeat: no-repeat;  
  background-position: center center;
  filter: opacity(0.5);  
  
  position: absolute;  
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}


.about-us-section h1 {
  font-size: 48px; 
  margin-bottom: 20px; 
}

.about-us-section p {
  font-size: 18px; 
  text-align: center;
  margin-bottom: 30px; 
}

.about-us-section button {
  padding: 10px 20px; 
  background-color: #ffde59; 
  color: #565656; 
  border: none;
  border-radius: 5px; 
  cursor: pointer;
}

.about-us-section button:hover {
  background-color: #565656; 
  color: #DADADA;
}

.why-it-works-section {
  text-align: center;
  margin-bottom: 50px;
}

.why-it-works-section h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.benefit {
  display: inline-block;
  width: 30%;
  padding: 10px;
  margin: 0 2%;
}

.benefit img {
  width: 200px;
  margin-bottom: 20px;
}

.benefit h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.benefit p {
  font-size: 1rem;
}




/*-------------review css --------------*/

.top{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  z-index: 100;
  margin-top: 65px;
}

.top img{
  margin-top: 25px;
}

.page-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0; 
  z-index: 1;
}

.albumDescription{
  margin-left: 40px;
  padding-top: 0;
}

.albumDescription h1, .albumDescription  p{
  color: white
}

#note{
  border:1.5px solid whitesmoke;
  width:60px;
  height:35px;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  font-weight:bold
}



.white-container{
  display: flex;
  position: absolute;
  justify-content: center;
  width:100%;
  height: 100hv;
  top:350px;
  background-color: whitesmoke;
  z-index: 2;
}

.left-container{
  padding-top: 30px;
  padding-left: 5px;
  width:16%;
  z-index: 10;
}



#writeReview{
  margin-top: 30px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  width: 170px;
  height:35px
}

#writeReview:hover{
  background-color:rgb(228, 228, 228);

}

.writeimg{
  display: flex;
  align-items: center;
  justify-content: center;
  width:35px;
  height:35px;
  background-color:rgb(228, 228, 228);
  border-radius:50px;
  margin-right: 10px;
}

.writeText{
  width:110px;
}




.right-container{
  padding-left:2%;
  width:64%;
  z-index: 10;
}

.reviewsTable{
  padding-left:5%;
  width:70%;

}

.centered-container{
  
  display: flex;
  flex-direction: row;
  width: 1170px;
}

.centered-container p {

  color:black;
}





/*-------------Privacy Policy------------*/

.content_pp div{
  background-color: #DADADA;
}
.content_pp h2, .content_pp h3{
  margin-left: 60px;
}

.content_pp p{
  width:1000px;
  margin-left: 95px;
  padding-bottom: 30px;
}


/*-----------------Contact form--------------*/

.contact-form h1{
  text-align: center;
  font-size: 80px;
  color: #ffde59;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contact-form .content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  
  width: 100%; /* ou une largeur spécifique si vous préférez */
  max-width: 500px;
  margin-bottom:133px;
}

.contact-form textarea{
  width: 100%;
  margin-bottom:30px;
  font-size: 20px;
  min-width: 100%;
  max-width: 100%;
  min-height: 54px;
  max-height: 100px;
}

.contact-form .input-row {
  display: flex;
  justify-content: space-between; /* Cela garantira un espacement entre les inputs */
  width: 100%;
  margin-bottom: 10px; /* Espace sous les inputs */
}

.contact-form input[type="text"],
.contact-form input[type="email"] {
  width: 49%; 
  height: 40px;
  font-size: 20px;
}

.contact-form h3{
  margin-left: 50%;
  font-size: 60px;
  color:#969696;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: -50px;
}

.contact-form button{
    margin-left: 10px;
    background-color: #545454;
    color :whitesmoke;
    border: 2px solid #ffde59;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 900;
    padding: 10px ;
    margin-bottom: 40px;
}

.contact-form button:hover{
  background-color:#ffde59;
  color: #545454;
  transition: background-color 0.1s ease;
}

.contact-form button.active{
  background-color:#ffde59;
  color: #545454;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
}

