.top{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    z-index: 100;
    margin-top: 65px;
}

.top img{
    margin-top: 25px;
}

.page-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0; 
    z-index: 1;
}

.albumDescription{
    margin-left: 40px;
    padding-top: 0;
}

.albumDescription h1, .albumDescription  p{
    color: white
}

#note{
    border:1.5px solid whitesmoke;
    width:60px;
    height:35px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    font-weight:bold
}



.white-container{
    display: flex;
    position: absolute;
    justify-content: center;
    width:100%;
    height: 100hv;
    top:350px;
    background-color: whitesmoke;
    z-index: 2;
}

.left-container{
    padding-top: 30px;
    padding-left: 5px;
    width:16%;
    z-index: 10;
}



#writeReview{
    margin-top: 30px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    width: 170px;
    height:35px
}

#writeReview:hover{
    background-color:rgb(228, 228, 228);

}

.writeimg{
    display: flex;
    align-items: center;
    justify-content: center;
    width:35px;
    height:35px;
    background-color:rgb(228, 228, 228);
    border-radius:50px;
    margin-right: 10px;
}

.writeText{
    width:110px;
}




.right-container{
    padding-left:2%;
    width:64%;
    z-index: 10;
}

.reviewsTable{
    padding-left:5%;
    width:70%;

}

.centered-container{
    
    display: flex;
    flex-direction: row;
    width: 1170px;
}

.centered-container p {

    color:black;
}
