
  
  .image-logo {
    position : relative;
    width: 193px;
    height: 77px;
    left: 20px;
  }
  
  .header-buttons {
    display: flex;

    position : absolute;
    top: 30px;
    right: 20px;
  }
  
  .button-login {
    margin-left: 10px;
    border : none;
    background-color: #545454;
    color :whitesmoke;
    border : none;
    font-size: 16px;
    font-weight: 900;
    padding: 10px ;
  }
  
  .button-login:hover {
    border-bottom : 4px solid #ffde59;
  }
  
  .button-signup {
    margin-left: 10px;
    background-color: #ffde59;
    color :#545454;
    border : none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 900;
    padding: 10px 20px ;

  }
  
  .button-signup:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
.profile-image{
  margin-left: 15px;
  height: 45px;

}