body {
    background-color: #545454;
  }
  
  main {
    top: 50px;
    z-index: 1;
  }
  
  .image-logo {
    position : relative;
    width: 193px;
    height: 77px;
    left: 20px;
  }
  
  .header-buttons {
    position : absolute;
    top: 30px;
    right: 20px;
  }
  
  .button-login {
    margin-left: 10px;
    border : none;
    background-color: #545454;
    color :whitesmoke;
    border : none;
    font-size: 16px;
    font-weight: 900;
    padding: 10px ;
  }
  
  .button-login:hover {
    border-bottom : 4px solid #ffde59;
  }
  
  .button-signup {
    margin-left: 10px;
    background-color: #ffde59;
    color :#545454;
    border : none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 900;
    padding: 10px 20px ;
  }
  
  .button-signup:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .presentation {
    position: absolute;
    font-size: 30px;
    top : 300px;
    left: 50%;
    width: 700px;
    color: whitesmoke;
  }
  